.container {
    display: flex;
    flex-direction: column;
  }
  
  .filters {
    display: flex;
    justify-content: space-between;
    padding: 25px 200px;
  }
  
  .filters button {
    width: 100px;
  }

  .totalProducts{
    margin: 0 100px 10px 100px;

  }
  
  .products {
    margin: 0 100px;
    border-top: 2px solid #999;
  }
  
  .product-item {
    border-bottom: 2px solid #999;
  }
  
  .clearance{
    background-color: red;
  }

  .clearance:hover{
    color: white;
    background-color: darkred;
  }